* {
	margin: 0;
	padding: 0;
}

body {
	margin: 2em 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4em;
	color: black;
}

#ref h1 {
	font-size: 1.2em;
	margin-bottom: 2em;
}

.column {
	float: left;
	padding-left: 0.4em;
	margin-right: 2em;
	border-left: 1px solid #ddd;
}

.method {
	width: 30em;
	position: static;
}

ul.proto {
	list-style-type: none;
	line-height: 1.2em;
}

.clear {
	clear: both;
}


a, a:visited {
	color : #aaa;
	text-decoration : none;
}
a:hover  {
	text-decoration: none; 
	color: #666; 
}
a.active {
	color: black;
	font-weight: bold;
}
a.undocumented {
	color: #ee6666;
}

em, .args {
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin-bottom: 0.75em;
}
h1, h2 {
	color: black;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1em;
	color: #777777;
}
h4 {
	font-weight: bold;
	font-size: 0.9em;
	text-transform: lowercase;
}
h4.args {
	font-weight: normal;
	margin-bottom: 1em;
	color: black;
}

code, pre {
	margin-top: 0.5em;
	padding: 0.5em;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	font-family: Courier, "Courier New", serif;
	line-height: 1.2em;
}
